.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leaflet-container {
  margin-top: 60px;
  height: 30vw;
  width: 100vw;
  z-index: 0;
}
.navLink {
  margin: 10px;
  font-weight: 600;
  color: black;
  font-size: 20px;
  text-decoration: none;
}
.header h1 {
  flex-direction: column;
  font-size: 40px;
  color: black;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.header {
  background-color: rgb(228, 17, 17);
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 100;
  height: 65px;
  box-shadow: 0 0 10px rgb(0,0,0);
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 100;
}

