body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.containerContainer {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

/* .row-separater{
  height: 1vw
} */
.react-photo-album--row img {
 
  overflow: scroll;
  white-space: nowrap;
  animation: scroll-left-first infinite 20s linear;
}

@keyframes scroll-left-first {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}
